[submodule "bench/hash_bench/cuckoo-hash"]
	path = bench/hash_bench/cuckoo-hash
	url = https://github.com/kroki/Cuckoo-hash
[submodule "bench/hash_bench/thashmap"]
	path = bench/hash_bench/thashmap
	url = https://github.com/Dahca/thashmap.git
[submodule "bench/leveldb"]
	path = bench/leveldb
	url = https://github.com/Alkaid-Benetnash/leveldb.git
[submodule "bench/openssl"]
	path = bench/openssl
	url = https://github.com/openssl/openssl.git
[submodule "bench/mysql-server"]
	path = bench/mysql-server
	url = https://github.com/mysql/mysql-server.git
[submodule "bench/tpcc-mysql"]
	path = bench/tpcc-mysql
	url = https://github.com/Percona-Lab/tpcc-mysql.git
[submodule "bench/YCSB-C"]
	path = bench/YCSB-C
	url = https://github.com/efeslab/YCSB-C.git
[submodule "libfs/lib/syscall_intercept"]
	path = libfs/lib/syscall_intercept
	url = https://github.com/pmem/syscall_intercept.git
