# Yahoo! Cloud System Benchmark
# Workload A: Update heavy workload
#   Application example: Session store recording recent actions
#                        
#   Read/update ratio: 50/50
#   Default data size: 1 KB records (10 fields, 100 bytes each, plus key)
#   Request distribution: zipfian

recordcount={{ recordcount }}
operationcount={{ operationcount }}
workload=com.yahoo.ycsb.workloads.CoreWorkload

readallfields={{ readallfields }}

readproportion={{ readproportion }}
updateproportion={{ updateproportion }}
scanproportion={{ scanproportion }}
insertproportion={{ insertproportion }}

requestdistribution={{ requestdistribution }}

